body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, #0a0f2c, #000);
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #0b0b0b;
}

nav h2 span {
    color: #00bfff;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    color: #ccc;
    text-decoration: none;
    font-weight: 500;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background:
        linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(10,15,44,0.9)),
        url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');

    background-size: cover;
}

.hero h1 {
    font-size: 55px;
}

/* SECTIONS */
section {
    padding: 100px 120px;
    text-align: center;
}

section h2 {
    color: #4da6ff;
    font-size: 38px;
    margin-bottom: 30px;
}

/* ABOUT */
#about p {
    max-width: 900px;
    margin: auto;
    line-height: 1.8;
}

/* TIMELINE */
.timeline-item {
    margin: 30px auto;
    max-width: 700px;
    padding: 25px;
    background: rgba(0, 191, 255, 0.1);
    border-radius: 15px;
    line-height: 1.7;
}

/* CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 260px;
    padding: 25px;
    border-radius: 20px;
    background: linear-gradient(135deg, #0a0f2c, #111a44);
}

/* TAGS */
.tags {
    font-size: 18px;
    margin-bottom: 40px;
}

/* FORM */
input, textarea {
    width: 60%;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

button {
    background: #00bfff;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    color: #aaa;
}